.gray {
  background-color: lightgray;
}

.font-red {
  color: red;
}

.font-blue {
  color: blue;
}

.font-green {
  color: green;
}

.sudoku-grid {
  text-align: center;
}

.sudoku-space {
  width: 40px;
  height: 40px;
  font-size: 40px;
  text-align: center;
}

.go-button {
  font-size: 40px;
}

.button {
  font-size: 25px;
}

.button-container {
  margin-top: 20px;
  text-align: center;
}

.error-message {
  color: red;
}

.invisible {
  visibility: hidden;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1, h2, h3 {
  text-align: center;
}
