<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="templates/styles.css" media="screen" />
<link href="templates/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
  <h1>Let me solve your Sudoku problem for you!</h1>
  <h2 class="error-message">

  </h2>
  <div class="sudoku-grid">

  </div>
  <div class="button-container">
    <button type="button" name="button" class='go-button' onclick='getMove()'>Go!</button>
  </div>
  <br>
  <div class="button-container">
    <button type="button" name="button" class='button' onclick='fillWithSample()'>Fill with Sample Puzzle</button>
  </div>
  <div class="button-container">
    <button type="button" name="button" class='button' onclick='clearBoard()'>Clear Board</button>
  </div>


  <script type=text/javascript src="{{url_for('templates', filename='app.js') }}"></script>
</body>
</html>
