<!DOCTYPE html>
<html>
<head>
  <title>Sudoku Solver!</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css') }}" media="screen" />
  <link href="{{url_for('static', filename='favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
  <h1>Let me solve your Sudoku problem for you!</h1>
  <h2 class="error-message invisible">
    This is an invalid board.
  </h2>
  <div class="sudoku-grid">

  </div>
  <div class="button-container">
    <button type="button" name="button" class='go-button' onclick='getMove()'>Show me one move</button>
  </div>
  <div class="button-container">
    <button type="button" name="button" class='go-button' onclick='solve()'>Solve!</button>
  </div>
  <br>
  <div class="button-container">
    <button type="button" name="button" class='button' onclick='fillWithSample()'>Fill with Sample Puzzle</button>
  </div>
  <div class="button-container">
    <button type="button" name="button" class='button' onclick='fillWithUnsolvable()'>Fill with Unsolvable Puzzle</button>
  </div>
  <div class="button-container">
    <button type="button" name="button" class='button' onclick='clearBoard()'>Clear Board</button>
  </div>
  Written by Benjamin Zagorski.
  <a href='https://github.com/MrMicrowaveOven/sudoku-solver' target="_blank">Here's</a> the github repo, and <a href='https://www.benjzagorski.com/' target="_blank">here's</a> my portfolio.

  <script type=text/javascript src="{{url_for('static', filename='app.js') }}"></script>
</body>
</html>
